body {

     width: 7.5in;
     

    border-style: double;
    border-width: 25px;
    margin: 0;
     
     }

 border-style {
    border-style: solid;
    border-width: 25px;
}
 img {
    float-right;
    background-repeat: repeat-y;

    
}
.content {background-color: lightgray;
padding:0.5in;


}

.name-address {
        font: arial;
        font-family: sans-serif;
        font-size: 15px;
        padding:0;
        margin-left: 0    }

ul {
    list-style-type: square;
}
    .name-address h1 {
    color: black;
}

.objective {
    padding-top: 0;
    font: arial;
        font-family: sans-serif;
}
.experience {
    font:arial;
    font-family:sans-serif;
    
}
.st-kates{
    font:arial;
    font-family:sans-serif;

}


    .farm-store{
font:arial;
    font-family:sans-serif;

    }
.metro-state{
    font:arial;
    font-family:sans-serif;

}
.capella-one{
    font:arial;
    font-family:sans-serif;

}
.capella-two{
    font:arial;
    font-family:sans-serif;

}
.education{
    font:arial;
    font-family:sans-serif;
}

.column-left{ float: left; width: 33%;
    font:arial;
    font-family:sans-serif;
 }
.column-right{ float: right; width: 33%;
font:arial;
    font-family:sans-serif;
 }
.column-center{ display: inline-block; width: 33%;
font:arial;
    font-family:sans-serif;
 }
